
.app-title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.link-generation-card{
  background-color: white;
  border-radius: 10px;
  padding: 40px ;
}
.user-input{
  display: block;
  width: 200px;
  margin-bottom: 10px;
  font-size: 20px;
  padding:5px 10px;
}
.input-short-url{

}
.btn-generate-link{
  display: block;
  background-color: black;
  color: white;
  padding:10px 50px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}
.short-url-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.copy-icon{
height: 30px;
cursor: pointer;

}